# Ansible configuration

[defaults]
inventory = ./hosts
library = ./library
roles_path = ./roles
#log_path = ./logs

timeout = 30

become_ask_pass = True

[ssh_connection]
# to be researched, seems like a common thing
pipelining = True 
# might be changed to 10, depending on the behavior
retries = 5 

#/home/achudy/ceph/roles/keys/tasks/mon-keyring.yml:9 ; Failed to set permissions on the temporary files Ansible needs to create when becoming an unprivileged user
allow_world_readable_tmpfiles=true

# "msg": "Incorrect su password" for becoming a ceph user
sudo_flags=-H -S