[global]
fsid = {{ ceph_fsid }}
mon_initial_members = {{ ansible_hostname }}
mon_host = {{ groups['mons']| map('extract', hostvars, ['ansible_host']) | join(',') }}

public network = {{ public_network }}
private network = {{ cluster_network }}
auth_cluster_required = cephx
auth_service_required = cephx
auth_client_required = cephx

